.jumbotron {
    background: #0c5460;
    color: white;
    padding: 20px;
}

.book-spacing {
    margin-top: 10px;
    margin-bottom: 10px;
}

.book-img-spacing {
    margin: 10px;
}

.book-info {
    margin-left: 20px;
}

a.title, a.title:hover, a.title:active, a.title:visited {
    color: white;
    text-decoration: none;
}
