.jumbotron {
    background: #532F8C;
    color: white;
    padding-bottom: 40px;
}

.book-spacing {
    margin-top: 10px;
    margin-bottom: 10px;
}

.book-img-spacing {
    margin: 10px;
}

.book-info {
    margin-left: 20px;
}
