<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
    <div class="container">
        <h1>Andy's Book Store</h1>
    </div>
</div>
<div class="container">
    <form action="/search">
        <div class="input-group mb-3">
            <input name="q" type="text" class="form-control" placeholder="Enter title here" aria-label="Search books" aria-describedby="button-addon2" autofocus>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search books</button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row top_buffer" th:each="result : ${results}">
        <div class="col-md-6"><a th:href="${result.link}"><img th:src="${result.thumbnail}" /></a></div>
        <div class="col-md-auto">
            <p><a th:href="${result.link}"><em th:text="${result.title}"></em></a></p>
            <p th:text="${result.author}"></p>
            <p th:text="${result.publisher}"></p>
        </div>
    </div>
</div>
</body>
</html>
