<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Andy's Book Store</h1>
  </div>
</div>
<div class="container">
  <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter title here" aria-label="Search books" aria-describedby="button-addon2">
      <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search books</button>
      </div>
  </div>
</div>
</body>
</html>
