<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'hello')}">
<body>
<div class="container">
    Found the following books for you:

    <div class="row" th:each="result : ${results}">
        <div class="col-md-6"><a th:href="${result.link}"><img th:src="${result.thumbnail}" /></a></div>
        <div class="col-md-6">
            <p th:text="${result.title}"></p>
            <p th:text="${result.author}"></p>
            <p th:text="${result.publisher}"></p>
        </div>
    </div>
</div>
</body>
</html>